/* ! CUSTOM FONT FAMILY START */

@font-face {
  font-family: "Iosevka";
  /* src: url(/eclipse-enigma/fonts/iosevkanerdfontmono.ttf) format("truetype"); */
  src: url(/fonts/iosevkanerdfontmono.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains";
  /* src: url(/eclipse-enigma/fonts/jetbrainsnerdFontmono.ttf) format("truetype"); */
  src: url(/fonts/jetbrainsnerdFontmono.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ! CUSTOM FONT FAMILY END */

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains", monospace;
  font-weight: normal;
  font-size: 16px;
  color: rgba(242, 242, 242, 0.8);
}

body {
  background: linear-gradient(
    to left,
    rgba(138, 43, 226, 1),
    rgba(255, 0, 127, 1)
  );
  overflow: hidden;
}

/* ! PRE LOADER START */

.preloader.fade {
  opacity: 0;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(26, 42, 108, 0.13); /* Deep Space Blue */
  backdrop-filter: blur(100px);
  z-index: 69;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(138, 43, 226, 1); /* Nebula Purple */
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(255, 0, 127, 1); /* Cosmic Pink */
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(255, 111, 0, 1); /* Solar Flare Orange */
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ! PRE LOADER END */
/* ! MOUSE POINTER START */

.fa-galactic-senate {
  position: fixed;
  pointer-events: none;
  font-size: 24px;
  color: rgb(255, 105, 180); /* Bubblegum Pink */
  transform: translate(-50%, -50%);
  display: none;
  will-change: transform;
  z-index: 4;
}

/* ! MOUSE POINTER END */
/* ! HEADER START */

header {
  width: auto;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
  position: relative;
  z-index: 3;
  background-image: linear-gradient(
    to bottom,
    rgba(32, 38, 46, 1),
    transparent
  );
}

.logo > a {
  text-decoration: none;
  font-family: "Abril Fatface", serif;
  font-size: 24px;
  color: rgba(246, 246, 246, 1);
}

.logo > a:hover {
  text-decoration: double underline;
  text-decoration-thickness: 3px;
}

ul > li > a {
  text-decoration: none;
  font-family: "Poppins", serif;
  font-size: 14px;
  font-weight: 600;
  color: rgba(246, 246, 246, 1);
}

.github {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.fa-computer-mouse {
  font-size: 16px;
  padding-top: 3px;
  color: rgba(246, 246, 246, 1);
}

.fa-computer-mouse:hover {
  color: rgba(255, 111, 0, 1);
  transition: 0.2s;
}

.fa-github-alt {
  font-size: 20px;
  padding-top: 5px;
  color: rgba(246, 246, 246, 1);
}

.fa-github-alt:hover {
  color: rgba(255, 111, 0, 1);
  transition: 0.2s;
}

/* ! HEADER END */
/* ! SLIDER START */

.slider {
  height: 100vh;
  margin-top: -70px;
  position: relative;
}

.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.slider .list .item.active {
  opacity: 1;
  z-index: 2;
}

.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(32, 38, 46, 1), transparent);
}

.slider .list .item .content {
  position: absolute;
  left: 5%;
  bottom: 10%;
  width: 90%;
  z-index: 1;
}

.slider .list .item .content p:nth-child(1) {
  font-family: "Abril Fatface", serif;
  color: rgba(246, 246, 246, 1);
  text-transform: uppercase;
  letter-spacing: 6px;
  padding-bottom: 50px;
}

.slider .list .item .content p:nth-child(1)::first-letter {
  font-size: 30px;
  text-decoration: underline;
}

.slider .list .item .content h2 {
  font-family: "Great Vibes", serif;
  color: rgba(255, 111, 0, 1);
  font-size: 80px;
  line-height: 0.8;
  margin: 0;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

.slider .list .item .content h2::first-letter {
  font-size: 90px;
}

.slider .list .item .content p:nth-child(3) {
  font-family: "Iosevka", monospace;
  line-height: 1.6;
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out forwards;
}

.slider .list .item.active h2 {
  animation-delay: 1s;
}

.slider .list .item.active p:nth-child(3) {
  animation-delay: 1.4s;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.arrows {
  position: absolute;
  background-color: rgba(32, 38, 46, 0.6);
  backdrop-filter: blur(10px);
  padding: 3px 15px;
  border-radius: 3px;
  border: solid 3px rgba(246, 246, 246, 0.6);
  top: 30%;
  right: 50px;
  z-index: 2;
}

.arrows button {
  background-color: transparent;
  border: none;
  width: auto;
  height: auto;
  font-size: x-large;
}

.arrows button i {
  font-size: 60px;
  color: rgba(246, 246, 246, 1);
  transition: 0.5s;
}

.arrows button i:hover {
  color: rgba(138, 43, 226, 1);
}

/* ! SLIDER END */